---
// Basics
import MainLayout from "../layouts/MainLayout.astro";

// Assets
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
import arrowRight from '@/assets/icons/arrow-right.svg';
---

<MainLayout title="Mes Projets" description="La liste de tous mes projets">
  <section class="container">
    <section class="content hero-section">
      <div class="head">
        <h1>Mes Projets</h1>
        <p>C'est quand même mieux du concret</p>
      </div>

      <!-- Map des projets -->
      <div class="projects-list">
        <ul>
          {
            projects.map((project) => (
              <li class="project-card">
                <a href={`/projects/${project.slug}`} class="project-link">
                  <img class="thumbnail" src={project.data.heroImage} alt={project.data.title} />
                  <div class="flex items-center justify-between mt-3">
                    <div class="flex flex-col">
                      <h3>{project.data.title}</h3>
                      <div class="tags">
                        {project.data.tags.map((tag) => (
                          <span class="tag">{tag}</span>
                        ))}
                      </div>
                    </div>
                    <div class="black-button">
                      <Image class="icon" src={arrowRight} alt="icon" />
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </section>
</MainLayout>
