---
import { Image } from "astro:assets";
import userIcon from "../assets/icons/user.svg";
import graduationIcon from "../assets/icons/graduation.svg";
import experienceIcon from "../assets/icons/experience.svg";
import toolsIcon from "../assets/icons/tools.svg";
import folderIcon from "../assets/icons/folder.svg";
import contactIcon from "../assets/icons/contact.svg";
---

<header>
    <div class="mobile-nav">
      <nav class="flex justify-between items-center gap-5">
        <a href="/#about"><Image src={userIcon} alt="User Icon" /></a>
        <a href="/#formations"><Image src={graduationIcon} alt="Graduation Icon" /></a>
        <a href="/#experiences"><Image src={experienceIcon} alt="Experience Icon" /></a>
        <a href="/#competences"><Image src={toolsIcon} alt="Tools Icon" /></a>
        <a href="/projects"><Image src={folderIcon} alt="Folder Icon" /></a>
        <a href="/contact"><Image src={contactIcon} alt="Contact Icon" /></a>
      </nav>
    </div>

    <div class="main-nav">
      <nav class="flex justify-between items-center">
        <a href="/#about">Qui suis-je ?</a>
        <a href="/#formations">Formations</a>
        <a href="/#experiences">Expériences</a>
        <a href="/#competences">Compétences</a>
        <a href="/projects">Projets</a>
        <a href="/contact">Contact</a>
      </nav>
    </div>
</header>