---
import "../styles/styles.scss";
const { title, description } = Astro.props;
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";
import { Image } from "astro:assets";

// Assets
import contactIcon from "@/assets/icons/contact.svg";
import arrowRightIcon from "@/assets/icons/arrow-right.svg";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="preconnect" href="https://www.theolegourrierec.fr" />
    <link rel="preconnect" href="https://umami.theolegourrierec.fr" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />

    <link rel="modulepreload" href="/_astro/client.js" />
    <link rel="modulepreload" href="/_astro/page.js" />

    <script>
      window.addEventListener("load", function () {
        setTimeout(function () {
          var script = document.createElement("script");
          script.defer = true;
          script.src = "https://umami.theolegourrierec.fr/script.js";
          script.setAttribute(
            "data-website-id",
            "80d1ac04-b763-4ca7-84b4-2324ef2da70f"
          );
          document.head.appendChild(script);
        }, 1500);
      });
    </script>
  </head>
</html>
<body>
  <Navigation />
  <slot />
  <Footer />
  <div
    class="bottom-action flex flex-col md:flex-row gap-5 items-center justify-center"
  >
    <button
      class="black-button to-contact"
      onclick="window.location.href = '/contact'"
    >
      <Image src={contactIcon} alt="Icône de contact" />
    </button>
    <button
      class="black-button to-top"
      onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    >
      <Image src={arrowRightIcon} alt="Icône de contact" />
    </button>
  </div>
</body>
<script src="@/components/scripts/scrollSmooth.js"></script>
