---
import '../styles/styles.scss'; 
const { title, description } = Astro.props;
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";
import { Image } from "astro:assets";

// Assets
import contactIcon from "@/assets/icons/contact.svg";
import arrowRightIcon from "@/assets/icons/arrow-right.svg";
---



<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<Navigation />
		<slot />
		<Footer />
		<div class="bottom-action flex gap-5 items-center justify-center">
			
			<button class="to-top" onclick="window.location.href = '/contact'">
				<Image src={contactIcon} alt="Icône de contact" />
			  </button>
			<button class="to-top" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
			  <Image src={arrowRightIcon} alt="Icône de contact" />
			</button>
		</div>

	</body>
	<script src="@/components/scripts/scrollSmooth.js"></script>
</html>
